<%- include("header") -%>
    <div class="box" id="heading">
        <h1> <%= listTitle %></h1>
    </div>
  
    <div class="box">
        <% items.forEach((element)=>{%>
        <form method="post" action="/checkbox">
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%=element._id %>" onChange="this.form.submit()">
                <p> <%= element.name %></p>
            </div>
            <input type="hidden" name="nameOfList" value="<%= listTitle %>"></input>
        </form>
        <% } )  %>
       
        <form class="item" action="/" method="post">
            <input name="new_item" type="text" placeholder="New item" autocomplete="off">
            <button type="submit" name="buttonValue" value="<%= listTitle %>" > + </button>
        </form>
            
    </div>
     <!--
        <form  action="/work_2" method="post">
            <button type="submit" class="button_new"  > Work List </button>
        </form>-->
    
<%- include("footer") -%>
<input type="hidden" name="nameOfMode" value="<%= listTitle %>"> </input>

        
   